@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.2;
}

[class*="text-h-"] {
  @apply font-header !font-semibold;
}

:root {
  --x-size: 1rem;
  --y-size: 30%;

  --inset-top: var(--safe-area-inset-top, env(safe-area-inset-top, 0px));
  --inset-bottom: var(
    --safe-area-inset-bottom,
    env(safe-area-inset-bottom, 0px)
  );
}

.cyberpunk {
  clip-path: polygon(
    var(--cp-top-left-x) 0%,
    var(--cp-top-right-x) 0%,
    100% var(--cp-right-top-y),
    100% var(--cp-right-bottom-y),
    var(--cp-bottom-right-x) 100%,
    var(--cp-bottom-left-x) 100%,
    0% var(--cp-left-bottom-y),
    0% var(--cp-left-top-y)
  );

  --cp-top-left-x: 0%;
  --cp-top-right-x: 100%;

  --cp-right-top-y: 0%;
  --cp-right-bottom-y: 100%;

  --cp-bottom-right-x: 100%;
  --cp-bottom-left-x: 0%;

  --cp-left-bottom-y: 100%;
  --cp-left-top-y: 0%;
}

.cyberpunk-br {
  --cp-right-bottom-y: calc(100% - var(--y-size));
  --cp-bottom-right-x: calc(100% - var(--x-size));
}

.cyberpunk-tr {
  --cp-top-right-x: calc(100% - var(--x-size));
  --cp-right-top-y: var(--y-size);
}

.cyberpunk-tl {
  --cp-top-left-x: var(--x-size);
  --cp-left-top-y: var(--y-size);
}

/* Instead of handling navbar styling through context and stores */
/* (no other way to pass data from page to layout), */
/* let inner pages just render their own navbar. */
/* This CSS trick will make it so that only the last navbar gets actually rendered. */
/* Inner pages are free to override the navbar as they wish. */

#main-navbar > * {
  display: none;
}

#main-navbar > *:last-child {
  display: block;
}

.escape-x {
  left: -1rem;
  width: 100dvw;
}
