*:focus-visible,
*:focus-within,
*:focus {
  outline: none !important;
}

* {
  outline: none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  -webkit-tap-highlight-color: transparent !important;
  cursor: default !important;
}

*::-webkit-scrollbar {
  background: transparent;
  display: none !important;
}

input,
textarea {
  font: inherit;
  color: inherit;
}
